<a href="https://colab.research.google.com/github/datuvwxyz/Artificial-Intelligence/blob/main/Buoi_3_TTNT_(01_04_2024).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**LÀM QUEN VỚI THƯ VIỆN PANDAS**

In [ ]:
import pandas as pd

df = pd.DataFrame()

print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
#Tạo list cho DataFrame
lst = ['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks']

df = pd.DataFrame(lst)

print(df)

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

In [ ]:
#Tạo dictionary cho DataFrame
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
		'degree': ["MBA", "BCA", "M.Tech", "MBA"],
		'score':[90, 40, 80, 98]}

df = pd.DataFrame(dict)

print(df)

     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98

In [ ]:
#Tạo data cho DataFrame
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
		'Age':[27, 24, 22, 32],
		'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
		'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
df = pd.DataFrame(data)

print(df[['Name', 'Qualification']])

     Name Qualification
0     Jai           Msc
1  Princi            MA
2  Gaurav           MCA
3    Anuj           Phd

In [ ]:
data = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
       'Height': [5.1, 6.2, 5.1, 5.2],
       'Qualification': ['Msc', 'MA', 'Msc', 'Msc']}

df = pd.DataFrame(data)

#Tạo một list với tên biến là address
address = ['Delhi', 'Bangalore', 'Chennai', 'Patna']

#Thêm một column Address với dữ liệu từ biến address
df['Address'] = address

print(df)

     Name  Height Qualification    Address
0     Jai     5.1           Msc      Delhi
1  Princi     6.2            MA  Bangalore
2  Gaurav     5.1           Msc    Chennai
3    Anuj     5.2           Msc      Patna

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/laxmimerit/All-CSV-ML-Data-Files-Download/master/nba.csv", index_col = "Name")

data.drop(['Team', 'Weight'], axis = 1, inplace = True)

df = pd.DataFrame(data)

print(df)

                         Team  Number Position   Age Height  Weight  \
Name
Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
Jae Crowder    Boston Celtics    99.0       SF  25.0    6-6   235.0
John Holland   Boston Celtics    30.0       SG  27.0    6-5   205.0
R.J. Hunter    Boston Celtics    28.0       SG  22.0    6-5   185.0
Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
...                       ...     ...      ...   ...    ...     ...
Shelvin Mack        Utah Jazz     8.0       PG  26.0    6-3   203.0
Raul Neto           Utah Jazz    25.0       PG  24.0    6-1   179.0
Tibor Pleiss        Utah Jazz    21.0        C  26.0    7-3   256.0
Jeff Withey         Utah Jazz    24.0        C  26.0    7-0   231.0
NaN                       NaN     NaN      NaN   NaN    NaN     NaN

                         College     Salary
Name
Avery Bradley              Texas  7730337.0
Jae Crowder            Marquette  6796117.0
John Holland   Boston University        NaN
R.J. Hunter        Georgia State  1148640.0
Jonas Jerebko                NaN  5000000.0
...                          ...        ...
Shelvin Mack              Butler  2433333.0
Raul Neto                    NaN   900000.0
Tibor Pleiss                 NaN  2900000.0
Jeff Withey               Kansas   947276.0
NaN                          NaN        NaN

[458 rows x 8 columns]

##**THUẬT TOÁN KNN VỚI DATASET**

In [ ]:
#import các thư viện
import pandas as pd
import math
import statistics

#Đọc bộ dữ liệu
df = pd.read_csv("knn.csv", index_col = "ID")

#Lấy 2 cột Height và Weight với tập X
X = df[['Height','Weight']]

#Lấy cột T-shirt với tập Y
Y = df[['TShirtSize']]

#Tạo một điểm mới bất kì
new_data_points = (161, 60)

#Tạo một hàm define với tên khoảng cách để tính dữ liệu mới so với dữ liệu mẫu
def count_distance(data_points, new_data_points):
  distance = list()
  for index, row in data_points.iterrows():
    points = (row['Height'], row['Weight'])
    dst = math.dist(points, new_data_points)
    distance.append(dst)
  return distance

#Tính khoảng cách và đặt tên cho column
count_distance(X, new_data_points)
X['Distance'] = count_distance(X, new_data_points)
print(X)
print("============================")

#Thêm cột TShirtSize vào tập X và sort X theo khoảng cách
X['TShirtSize'] = df['TShirtSize']
X_sort = X.sort_values(by = 'Distance')
print(X_sort)
print("============================")

#Cho K lang gieng = ???
K = 5
neighbor = X_sort.iloc[0:K]
print(neighbor)
print("============================")

#Duyệt số đông sử dụng thư viện statistics
neighbor_label = neighbor['TShirtSize']
print("Vậy size cần mặc là:",statistics.mode(neighbor_label))

    Height  Weight   Distance
ID
1      158      58   3.605551
2      158      59   3.162278
3      158      63   4.242641
4      160      59   1.414214
5      160      60   1.000000
6      163      60   2.000000
7      163      61   2.236068
8      160      64   4.123106
9      163      64   4.472136
10     165      61   4.123106
11     165      62   4.472136
12     165      65   6.403124
13     168      62   7.280110
14     168      63   7.615773
15     168      66   9.219544
16     170      63   9.486833
17     170      64   9.848858
18     170      68  12.041595
============================
    Height  Weight   Distance TShirtSize
ID
5      160      60   1.000000          M
4      160      59   1.414214          M
6      163      60   2.000000          M
7      163      61   2.236068          M
2      158      59   3.162278          M
1      158      58   3.605551          M
8      160      64   4.123106          L
10     165      61   4.123106          L
3      158      63   4.242641          M
11     165      62   4.472136          L
9      163      64   4.472136          L
12     165      65   6.403124          L
13     168      62   7.280110          L
14     168      63   7.615773          L
15     168      66   9.219544          L
16     170      63   9.486833          L
17     170      64   9.848858          L
18     170      68  12.041595          L
============================
    Height  Weight  Distance TShirtSize
ID
5      160      60  1.000000          M
4      160      59  1.414214          M
6      163      60  2.000000          M
7      163      61  2.236068          M
2      158      59  3.162278          M
============================
Vậy size cần mặc là: M